<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Thymeleaf Display Image Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">

<div class="container p-3 my-3 text-white">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top"  src="/images/lion.jpg" alt="Lion" width="600px ">
                <div class="card-body">
                    <p class="card-text text-info" th:text="${lionText}"></p>
                    <p class="card-text text-info" th:text="${lionDesc}"></p>
                    <p class="card-text text-info" th:text="${lionNoise}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top"  src="/images/tropic.jpg" alt="Monkey" width="600px ">
                <div class="card-body">
                    <p class="card-text text-info" th:text="${monkeyText}"></p>
                    <p class="card-text text-info" th:text="${monkeyDesc}"></p>
                    <p class="card-text text-info" th:text="${monkeyNoise}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>